/Datasource/PNG_files/Cubo/*.png
/Datasource/PNG_files/Lapiseira/*.png
/Datasource/PNG_files/Mouse/*.png

Datasource/AEDAT_files/random data/
Detection/*.mp4
Datasource/AEDAT_files/cbeb_data/
Datasource/AEDAT_files/cbeb_data_2/


